{% extends 'admin/base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Administration des utilisateurs</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Emails</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    {# @var user \App\Entity\User #}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td class="text-right">
                            <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal-{{ user.id }}"><i class="fas fa-trash"></i></button>

                            <!-- Modal confirmation de suppression -->
                            <div class="modal fade" id="exampleModal-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel-{{ user.id }}">Supprimer {{ user.fullName }} ?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            La suppression d'un utilisateur est définitive !
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-danger">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal confirmation de suppression -->

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}
